a{
	color:#22BCE8;
}
body{
	background:#F5F5F5; /*DAD8D8*/ 
	font-size: 16px; /*Es aqui en el body donde siempre se 
						declara el tamaño de la fuente raiz para toda la
						pagina*/
	font-family: Arial;
}
footer{
	color:rgba(255,255,255,0.7);
	background: #22BCE0;
	text-align: center;
	padding: 1em;
}
footer p:last-child:before{
	content: "- "

}
footer p:last-child:after{
	content: " -"
}
footer p:first-child{
	margin-bottom: 0;
}
footer p:last-child{
	margin-top: 0;
}
header{
	background:#344B54;
	color: #fff;
	padding: 0.5em; /*con este padding hacemos que el header
					tenga un espacio que le permita no estar
					pegado ni a la izquierda ni a la parte 
					superior de la pagina*/
	overflow: hidden;/*Ahora, al agregarle la propiedad
						overflow al header el border del
						mismo se extenderan */
	position: relative;
}
header figure{
	float: left;
}
header h1{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 70px 0 0; /*las etiquetas h1 h2 h3 p tiene por defecto
				margenes predeterminados para separse entre
				si, es por eso que al margen de nuestro h1
				lo dejamos con valor cero para que no tenga
				nada de espacio para separarse.
				agrerle un margin derecho de 70px le 
				dejamos espacio para que el avatar pueda flotar
				y aun asi cuando la pagina se mueva
				siempre va tener espacio*/
}
header #avatar{
	margin: 0.5em 1em 0 0 ;
	position: absolute;
	right:0;
	top: 0;
}
header #avatar img{
	border-radius: 50%;	/*siempre el borde va con porcentajes*/
	width: 55px;
}
header #logos img{
	border-right: 1px solid #fff;
	padding-right: 0.5em;
	margin-right: 0.5em;
	width: 52px;
}
nav{
	background:#80BCA3 ;
	padding:0 0.5em ;
	position: relative;
}
nav ul{
	margin:0;
	padding:0 ;
	list-style:none;
}
nav ul #publicar_nav{
	margin: 0 0.5em 0 0;
	position: absolute;
	top: -0.1em;
	right:0;
}
nav ul #publicar_nav a{
	background: #22BCE0;
	box-shadow:rgba(0,0,0,0.5)  5px 5px 20px;
	border-radius: 5px;
	font-style: italic;
	padding:0.6em 0.8em;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
}
nav ul li{
	display: inline-block;
	margin: 0 1.5em 0 0;
}
nav ul li a{
	color: #fff;
	display: block;/*si no se le hubiese agregado la 
					display a esta etiqueta con valor block
					no podriamos ponernele margenes
					a los enlaces,es por eso que le 
					agregamos display con valor block*/
	text-decoration: none;
	padding: 0.5em 0; /*le agregamos padding y no margin
						porque al agregarle padding logramos
						que toda el area de la caja sea "clickiable"
						si agregaramos solo el margen no tendriamos 
						efecto.*/


}
#content{
	margin: 1em;
}

#content .item{
	background: #fff;
	border-bottom: 3px solid #22BCE8;
	min-height: 128px; /*con min height le pedimos al naveagador que
						que la altura sea de por lo menos
						 x pixeles, hay que utilizar la propiedad min-heigh, no max,
						 totalmente diferente.*/
	margin-bottom: 3em;
	position: relative;
}
#content .item .imagen_item {
	float: left;
	margin-right: 1em;
}
#content .item .imagen_item img{/* es a la etiqueta img a la que
									tenemos que hacer re-size
									no a la etiqueta figure*/
	width: 96px;
}
#content .item .titulo_item{
	font-size: 1.2em;
	font-style:italic;
	padding:1em 1em 0 0 ;
	margin-bottom: 0;
}
#content .item .titulo_item a{
	text-decoration: none;
	color: #444;
}
#content .item .author_item{
	color: #aaa;
}
#content .item .datos_item{
	color: #aaa;
	margin: 1em 1em 0 0;
}
#content .item .datos_item .tag_item{
	background: #F4502A;
	border-radius: 0.5em;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
#content .item .datos_item .fecha_item{
	float: right;
}
#content .item .votacion{
	background: #fff;
	border-radius: 0 0 0.5em 0.5em ; 
	padding: 0.5em 1em;
	position: absolute;
	margin-top: 0.2em;
	left: 3%;
	right: 3%;
	top: 100%;
}
#content .item .votacion .guardar_item,
#content .item .votacion .comentarios_item{
	float: right;
}




