a
{
	color: #0095dd;
}
body
{
	background: #eee url("rules.jpg") no-repeat fixed 50% 50%;
	font-family: arial;
	font-size: 16px;
}
footer
{
	background: #FF0000;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}
footer p:first-child
{
	margin-bottom:0;
}
footer p:last-child
{
	margin-top:0;
}
footer p:last-child:after
{
	content: "- "
}
footer p:last-child:before
{
	content: " -"
}
header
{
	background: #00f;
	color: #fff;
	padding: 0.5em;
	position:relative;
	overflow: hidden;
}
header figure
{
	float: left;
}
header h2
{
	font-size:1.4em;
	font-weight: normal;
	margin: 0 72px 0 0;
}
header #logo img
{
	border-right: 1px solid #fff;
	margin-right:0.5em;
	padding-right: 0.5em;
	width:61px;
}
header #avatar 
{
	position: absolute;
	margin: 0.5em 1em 0 0.5em ;
	top: 0;
	right:0;

}
header #avatar img
{
	border-radius: 50%;
	width:64px;
}
nav
{
	background: #ff0;
	position:relative;
}
nav ul
{
	margin:0;
	padding:0.5em 0;
	list-style: none;
}
nav ul li
{
	display: inline-block;
	margin: 0 4em 0 4em;
}
nav ul li a:focus
{
	background: #eee;
}
nav ul li a
{
	text-decoration: none;
	color: #f0f;
}
nav ul li a:hover
{
	text-decoration:underline;
	color:#00f
}
nav ul li a:active
{
	 font-weight: bold;
}
nav ul li a:visited 
{
color: #a00;
}
nav ul #publicar
{

	position: absolute;
	top: 0.5em;
	right:-1em;

}
nav ul #publicar a
{
	border-radius: 15%;
	background: #fff;
	box-shadow: rgba(0,0,0,0.5)-5px 5px 20px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
}
#content
{
	margin: 1em;
}
#content .item
{
	background: #fff;
	border-bottom: 4px solid #00ff00;
	position: relative;
	min-height: 150px;
	margin-bottom: 3em;
}
#content .item  .autor
{
	color: #aaa;
	margin: 0 0 0.5em 0;
}
#content .item  .autor a
{
	text-decoration: none;
}
#content .item  .datos
{
	margin: 0 0 0.5em 0;
}
#content .item  .datos .tag_item
{
	background: orange;
	color: white;
	border-radius: 10%;
	display: inline-block;
	margin: 0em 0.5em 0 0 ;
	padding:0.5em 0.5em 0.3em 0.5em;
	text-decoration: none;

}
#content .item  .datos .tag_fecha
{
	color: #888;
	float: right;
	margin-bottom: 0.5em;
	margin-right:1em; 
	margin-top:0.5em;
}
#content .item .image
{
	float: left;
	padding-right: 0.5em;
	margin-right: 0.5em;
}
#content .item .image img
{
	width: 150px;
	height: 150px;
}
#content .item .title_item
{
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0;
	padding: 1em 1em 0 0 ;
}
#content .item .title_item a
{
	color:#000;	
	text-decoration: none;
}
#content .item .votacion
{
	background: #fff;
	border-radius: 0 0 0.5em 0.5em;
	left:3%;
	padding: 0.5em;
	position: absolute;
	margin-top: 4px;
	right:3%;
	top:100%;
}
#content .item .votacion .guardar,
#content .item .votacion .comentarios
{
	float:right;
}

